<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				Rotten Potatoes
			</a>
		</div>
		<div class="pull-right">
				<a href="/reviews/new" class="btn btn-default navbar-btn">New Review</a>
			{{#if currentUser}}
				<div class="btn btn-default navbar-btn" style="cursor:default;">Welcome, {{currentUser.username}}!</div>
				<a href="/logout" class="btn btn-default navbar-btn">Logout</a>
				{{else}}
				<a href="/login" class="btn btn-default navbar-btn">Login</a>
				<a href="/sign-up" class="btn btn-default navbar-btn">Sign-up</a>
				{{/if}}
		</div>
	</div>
</nav>