<!-- views/partials/reviews-form.handlebars -->

	<fieldset>
		<!-- Title -->
		<div class="form-group">
			<label for="review-title">Title</label><br>
			<input id="review-title" type="text" name="title" value="{{review.title}}"/>
		</div>

		<!-- Movie Title -->
		<div class="form-group">
			<label for="movie-title">Movie Title</label><br>
			<input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}"/>
		</div>

		<!-- Description -->
		<div class="form-group">
			<label for="review-description">Description</label><br>
			<textarea id="review-description" name="description" rows="10">{{review.description}}</textarea>
		</div>

		<!-- Rating -->
		<div class="form-group">

			<label for="rating">Rating {{review.rating}}</label><br>
			<select name="rating">
				<option value=0>0</option>
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
			</select>
		</div>
	</fieldset>