<!-- views/reviews-new.handlebars -->

<form method="post" action="/reviews" autocomplete="off">
	<fieldset>
		<legend>New Review</legend>
		<!-- TITLE -->
		<p>
			<label for="title">Title</label><br>
			<input type="text" name="title"/>
		</p>
		<!-- Mover Title -->
		<p>
			<label for="movieTitle">Movie Title</label><br>
			<input type='text' name="movieTitle"/>
		</p>
		<!-- Description -->
		<p>
			<label for="description-text">Description</label><br>
			<textarea id="description-text" name="description" rows="10"></textarea>
		</p>
	</fieldset>


	<!-- Button -->
	<p>
		<button type="submit">Save Review</button>
	</p>

</form>