<!-- views/reviews-new.handlebars -->

<form method="post" action="/reviews" autocomplete="off">

{{> reviews-form}}


	<!-- Button -->
	<p>
		<button type="submit">Save Review</button>
	</p>

</form>