<!-- views/unauthorized.handlebars -->

<div class="row">
	<div class="col-md justify-content-center align-middle">
		<p style="font-size: 36px;">Oops! You forgot to log in first.</p>

				<!-- Button -->
		<div class="form-group">
	<p>
		<button type="submit" method="GET" action="/sign-up" onclick="location.href='/sign-up'">Sign Up!</button>
	</p> 

			<!-- Button -->
		<div class="form-group">
	<p>
		<button type="submit" method="GET" action="/login" onclick="location.href='/login'">Login</button>
	</p>
</div>
</div>
</div>
</div>

